:root {
  --bg-app: #f9fafb;
  --bg-card: #FFFFFF;
  --border: #8f9196;

  --text-primary: #3a445a;
  --text-secondary: #404550;

  --work-primary: #2563EB;
  --life-primary: #16A34A;
  --other-primary: #7C3AED;

  --success: #22C55E;
  --danger: #EF4444;
}
  

body{
  font-family: Arial, Helvetica, sans-serif;
}

.planner-container{
  max-width: 600px;
  border: 2px solid var(--border) ;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 40px auto;
  padding: 20px 0 30px 0;
  background-color: var(--bg-app);
}

.heading{
  color: var(--text-primary);
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0;
  /* font-weight:700; */
}

.category p{
  color: var(--text-secondary);
  font-size: 1.2rem;
}

.category-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px
}

.category-buttons button{
   padding: 6px 12px;
   font-size: 1rem;
   color: var(--bg-app);
   border: none;
   border-radius: 6px;
   cursor: pointer;
   transition: all .5s ease;
}

.work-btn{
  background-color: var(--work-primary);
}

.work-btn:hover{
  background-color:hsl(221, 83%, 60%);
}

.life-btn{
  background-color: var(--life-primary);
}

.life-btn:hover{
  background-color:hsl(142, 76%, 42%);
}

.other-btn{
  background-color: var(--other-primary);
}

.other-btn:hover{
  background-color:hsl(262, 83%, 65%);
}


.input-area{
  display: flex;
  width: 70%;
  gap: 15px;
  margin-top: 20px;
}

.input-area input{
  padding:5px 0 5px 7px;
  flex: 1;
  font-size: 1rem;
  outline:none;
  border: none;
  border: 1.1px solid var(--text-secondary);
  border-radius: 5px;
}

.input-area button{
  width: 50px;
  padding: 6px 12px;
  font-size: 1rem;
  color: var(--bg-app);
  border: none;
  border-radius: 6px;
  background-color: var(--text-secondary);
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.input-area button:hover{
  background-color: hsl(221, 11%, 35%);
}

.task-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin: 30px 0;
  width: 70%;
}

.text-title{
  color: var(--text-primary);
  font-size: .9rem;
  flex: 1;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

.work{
  width: 100%;
  border: 2px solid #7598e4;
  padding: 10px;
  border-radius: 12px;
  background-color: var(--bg-card);
  box-shadow: 0px 0px 6px #7598e4 ;
}

.work .title-head{
  text-align: center;
  font-size: 1.rem;
  color: var(--work-primary);
  font-weight: bold;
  margin-top: 5px;
}

.work ul, .life ul, .other ul{
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.work ul li, .life ul li, .other ul li{
  display: flex;
  align-items: center;
  font-size: .9rem;
  gap:15px;
  padding: 0 10px;
}

.life{
  width: 100%;
  border: 2px solid #4ad27c ;
  padding: 10px;
  border-radius: 12px;
  background-color: var(--bg-card);
  box-shadow: 0px 0px 6px #4ad27c ;
  flex: 1;
}

.life .title-head{
  text-align: center;
  font-size: 1.rem;
  color: var(--life-primary);
  font-weight: bold;
  margin-top: 5px;
}

.other{
  width: 100%;
  border: 2px solid #a77fed;
  padding: 10px;
  border-radius: 12px;
  background-color: var(--bg-card);
  box-shadow: 0px 0px 6px #a77fed;
  flex:1;
}

.other .title-head{
  text-align: center;
  font-size: 1.rem;
  color: var(--other-primary);
  font-weight: bold;
  margin-top: 5px;
}



.extra-info{
  display: flex;
  justify-content: center;
  gap: 12px;
  font-size: .9rem;
  padding: 10px;
  font-weight: bold;
  color: var(--text-secondary);
}


.done{
  padding: 6px 10px;
  font-size: .9rem;
  color: var(--bg-app);
  border: none;
  border-radius: 6px;
  background-color: var(--danger);
  text-align: center;
  cursor: pointer;
  transition: all .5s ease;
}

.done:hover{
  background-color:hsl(0, 84%, 63%);
}

.done.yes{
  background-color: var(--success);
}

.cross-btn{
  padding: 2px 6px;
  border-radius: 50%;
  background-color: var(--border);
  font-size: .8rem;
  color: var(--bg-app);
  cursor: pointer;
  transition: all .5s ease;
}

.cross-btn:hover{
  background-color: var(--text-secondary);
}


@media(max-width: 780px){

  .input-area{
    flex-direction: column;
    align-items: center;
    gap: 23px;
  }

  .input-area input{
    width: 100%;
  }

  .task-list{
    flex-direction: column;
  }

  .extra-info {
    text-align: center;
    gap: 11px;
    font-size: 0.8rem;
}

  .done{
  padding: 6px;
  font-size: .7rem;
  
}

.cross-btn{
  padding: 2px 6px;
  font-size: .7rem;

}
}



